.gallery {
	display: flex;
	flex-wrap: wrap;
	padding: 100px 20px;
	margin: 0px auto;
	max-width: 1162px;
	justify-content: center;
}

.gallery__masonry {

}

.gallery__column__1 {
	flex: 1;
}

.gallery__column__2 {
	flex: 1;
}

.gallery__column__3 {
	flex: 1;
}

.gallery__column__gutter {
	flex: 0 0 20px;
	min-width: 60px;
}

@media only screen and (max-width: 1000px) {
	.gallery__column__gutter {
		min-width: 20px;
	}

	.gallery {
		padding: 90px 20px;
	}
}


@media only screen and (max-width: $medium-breakpoint) {
	.gallery__column__gutter {
		min-width: 20px;
	}
	.gallery {
		padding: 80px 20px;
	}
}

@media only screen and (max-width: $small-breakpoint) {
	.gallery__column__gutter {
		min-width: 20px;
	}

	.gallery {
		padding: 75px 20px;
	}
}
