.card {
	background: white;
	margin-bottom: 50px;
	transition: all 250ms ease-in-out;
	&:hover {
		box-shadow: 0px 0px 1px 1px #ddd;
	}
}

.card__image {
	display: block;
  width: 100%;
  object-fit: cover;
}

.card__title {
  margin-bottom: 30px;

  a{
  	color: #333;
	  word-wrap: break-word;
	  overflow: auto;
	  font-size: 48px;
  	font-family: 'Springville', serif;
  	text-decoration: none;

  	&:hover {
  		text-decoration: underline;
  	}
  }
}

.card__note {
	font-family: 'ACaslonPro', serif;
	font-size: 14px;
	color: #333;
 
	a {
		font-size: 14px;
		text-transform: uppercase;
		font-family: 'ACaslonPro', serif;
		color: #333;

		&:hover{
			color: #ccc;
		}
	}
}

.card__date {
	font-size: 11px;
	margin-bottom: 30px;
	display: block;
	text-transform: uppercase;
}

.card__content-container {
	padding: 40px 0px 50px 1px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}