.hero {
	height: 602px;
	background: #fcfcfc;
	position: relative;

	.carousel {
		max-width: 1440px;
    margin: 0px auto !important;

		.carousel-slider {
			height: 100%;
		}

		.slide img {
	    height: 602px;
	    object-fit: cover;
		}
	}
}

.hero__text{
	position: absolute;
  z-index: 10;
  top: 50%;
  width: 100%;
  margin: 0px auto;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);

  h1 {
  	color: white;
  	font-size: 52px;
  	font-family: 'Springville', serif;
    padding-left: 20px;
  }

  h3 {
  	color: white;
  	font-size: 26px;
  	font-family: 'Springville', serif;
  	margin: 25px 0px;
    padding-left: 20px;
  }

  p {
  	color: white;
  	font-size: 18px;
  	font-family: 'Springville', serif;
    padding-left: 20px;
  }
}