.hero {
	height: 580px;
	background: #fcfcfc;
	position: relative;

	.carousel {
		max-width: 1440px;
    margin: 0px auto !important;

		&.carousel-slider {
			height: 100%;
      padding-bottom: 38px;
		}

    .control-dots .dot{
      background: #ccc;
      box-shadow: none;
      opacity: 0.5;
    }

		.slide img {
	    height: 580px;
	    object-fit: cover;
		}
	}
}

.hero__text{
	position: absolute;
  z-index: 10;
  top: 50%;
  width: 100%;
  margin: 0px auto;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 0px;
  right: 0px;
}

.hero__text__inner{
  padding: 0px 20px;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px auto;

  h1, h3, p {
    color: $white;
    font-family: 'Springville', serif;
    text-align: left;
  }

  h1 {
    font-size: 52px;
  }

  h3 {
    font-size: 26px;
    margin: 25px 0px;
  }

  p {
    font-size: 18px;
  }
}

.hero__slide__overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: $black;
  opacity: 0.41;
}

@media only screen and (max-width: 1000px) {
  .hero{
    height: 75vw;
    min-height: 300px;
    max-height: 580px;

    .carousel {
      .slide img {
        height: 75vw;
        min-height: 300px;
        max-height: 580px;
      }
    }
  }

  .hero__text__inner{
    h1 {
      font-size: 7vw;
    }

    h3 {
      font-size: 4.5vw;
      margin: 20px 0px;
    }

    p {
      font-size: 3.5vw;
    }
  }
}
