.footer {
	text-align: center;
	padding: 75px 20px;
	background: #fff;

	span, a {
		text-transform: uppercase;
		font-family: Arial, sans-serif;
		color: $black;
		font-size: 11px;
	}
}

.footer__copyright {

}

.footer__social-link {
	&:hover {
		color: #ccc;
		cursor: pointer;
	}
}