.navigation {
  flex: 1;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.navigation__phone {
  margin-right: 20px;
}

.navigation__login {
  text-transform: uppercase;
  margin-right: 20px;
  text-decoration: none;

  &:hover {
    color: #000;
    cursor: pointer;
    text-decoration: underline;
  }
}

.navigation__button {
  width: 30px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  bottom: 1px;
  position: relative;

  &:hover {
    opacity: .8;
    color: red;
  }

  span {
    background: #333;
    height: 1px;
    width: 100%;
    position: relative;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
    display: block;
  }

  &> span:nth-of-type(2), 
  &> span:nth-of-type(3) {
    margin-top: 6px;
  }
}

.navigation__button.active .-top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}

.navigation__button.active .-middle {
  opacity: 0;
  background: #fff;
}

.navigation__button.active .-bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}

@-webkit-keyframes fadeInTop{
  0% {
    opacity: 0;
    top: 20%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
