@import "../../common/logo/logo.scss";
@import "../../common/header/header.scss";
@import "../../common/navigation/navigation.scss";
@import "../../common/hero/hero.scss";
@import "../../common/gallery/gallery.scss";
@import "../../common/card/card.scss";

.app {
	background: red;
}

.app__header{
	height: 122px;
}

.container {
	max-width: 1440px;
}